[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "VARcpDetectOnline"]
	path = VARcpDetectOnline
	url = https://github.com/helloworld9293/varcpdetectonline
